<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/styleReset.css}">
	<link rel="stylesheet" th:href="@{/static/css/easy-autocomplete.css}"> 
	<link rel="stylesheet" th:href="@{/static/css/easy-autocomplete.themes.css}"> 
	<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet"
	th:href="@{/static/fonts/font-awesome/css/font-awesome.min.css}">

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" th:href="@{/static/css/materialize.css}">
	<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/style.css}">

	<title>Gerencia</title>

</head>
<body>
	
	<div th:fragment="ctrl-produto(chaveMaquina,itensTransacao,indice)">
		<div class="row">
		  <form class="col s12"th:action="@{/tempo/salvarProdutoAtivo}" method="post" th:object="${produto}">
			
				<div class="input-field left black-text col s5 m4 l3">
					<input th:id="cad-cod-prod-temp+${indice}" class="" type="text" th:field="*{codigoBarras}" onkeyup="preencheCamposCodigo(this.value)" maxlength="14"/>
					<label th:for="cad-cod-prod-temp+${indice}" th:id="label-cod-prod-temp+${indice}">Código de Barras</label>
				</div>
	
				<div class="input-field left black-text col s5 m4 l3">
					<input th:id="cad-nome-prod-temp+${indice}" type="text" th:field="*{nomeProduto}"  autocomplete="off" />
					<label th:for="cad-nome-prod-temp+${indice}" th:id="label-nome-prod-temp+${indice}" >Nome do Produto</label>
				</div>
				
		     	<div class="input-field left black-text col s4 m3 l2">
					<input th:id="cad-qtd-prod+${indice}" class="" type="number" name="quantidade" min="1" />
					<label th:for="cad-qtd-prod">Quantidade</label>
				</div>
				
				<div class="input-field left black-text col s4 m3 l2">
					<input th:id="cad-pre-prod-temp+${indice}" class="" type="text" th:field="*{precoUnitario}" />
					<label th:for="cad-pre-prod-temp+${indice}" th:id="label-pre-prod-temp+${indice}">Preço</label>
				</div>
				<input type="hidden" name="chaveMaquina" th:value="${chaveMaquina}">
				<input id="cad-chave-prod-temp" type="hidden" th:field="*{chaveProduto}">
				
				<button class="btn btn-form col s4 m3 l2" type="submit">Salvar</button>
			</form>
		</div>
		<div class="row ">
			<div class="col s12">
			<table class="responsive-table bordered striped btn-table">
				<thead>
					<tr>
					  <th data-field="codigoBarras">Código de Barras</th>
					  <th data-field="nomeProduto">Nome do Produto</th>
					  <th data-field="quantidade">Quantidade</th>
					  <th data-field="precoUnitario" >Preço</th>
					  <th></th>
					</tr>
				</thead> 
				<tbody th:each="produto : ${itensTransacao}">
					<tr th:if="${produto.modelo == null}">
					  <td th:text="${produto.produto?.codigoBarras}"></td>
					  <td th:text="${produto.produto?.nomeProduto}"></td>
					  <td th:text="${produto.quantidade}"></td>
					  <td th:text="${produto.produto?.precoUnitario}"></td>
					  <td></td>
					</tr>
				</tbody>
			</table>
		</div>	
		</div>
	</div>

	<script type="text/javascript" th:src="@{/static/js/libs/jquery-3.1.1.js}"></script>
	<script th:src="@{/static/css/materialize.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/libs/lib.js}"></script>
	
</body>
</html>
