<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/styleReset.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	th:href="@{/static/fonts/font-awesome/css/font-awesome.min.css}">

<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link rel="stylesheet" th:href="@{/static/css/materialize.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/style.css}">
</head>
<body>

	<div th:replace="../../static/templates/header :: header"></div>

	<div class="row">
		<div class="col s12 m8 push-m2">
			<div class="card ">

				<div class="card-content white-text teal lighten-1">

					<div class="panel-title left">
						<span class="flow-text">Tabela de Preços</span>
					</div>


					<div class="right">

						<a href="" class="tooltipped" data-position="bottom"
							data-delay="50" data-tooltip="Download"><i
							class="material-icons ">file_download</i></a> <a href=""
							class="tooltipped" data-position="bottom" data-delay="50"
							data-tooltip="Imprimir"><i class="material-icons ">print</i></a>

						<a href="" class="tooltipped" data-position="bottom"
							data-delay="50" data-tooltip="Importar"><i
							class="material-icons ">file_upload</i></a> <a href=""
							class="tooltipped" data-position="bottom" data-delay="50"
							data-tooltip="Ajudar"><i class="material-icons ">help</i></a>

					</div>

					<br>

				</div>
				<div class="card-action">
					<div class="row">

						<form th:action="@{/tempo/salvarValorHora}" method="post" th:object="${valorHora}">
							<div class="input-field left black-text col s5 m4 l3">
								<input id="cad-min-tab" class="" type="number" min="0" th:field="*{minuto}">
								<label for="cad-min-tab">Minutos</label>
							</div>
							<div class="input-field left black-text col s5 m4 l3">
								<input id="cad-pre-tab" class="" type="text" th:field="*{precoNoFormatado}" onkeyup="validadorMonetario(this.value,this.id)">
								<label for="cad-pre-tab">Preço</label>
							</div>
							<div class="input-field left black-text col s5 m4 l3">
								<select id="cad-mod-tab" name="modelo" required="required">
									<option value="" th:disabled="disabled" th:selected="selected">Selecione um Modelo</option>
									<option th:each="modelo : ${modelos}" th:value="${modelo}" th:text="${modelo}"></option>
								</select>
								<label for="cad-mod-tab">Modelo da Máquina</label>	
							</div>
							
							<button class="btn btn-form col s4 m4 l2 offset-l1" type="submit">Salvar</button>
							
						</form>					
						
						

				 	 </div>
				 	
						<div class="row">
							<table class="responsive-table">
								<thead>
									<tr>
										<th data-field="minuto">Minutos</th>
										<th data-field="preco">Preço</th>
										<th data-field="modelo">Modelo</th>
									</tr>
								</thead>
		
								<tbody >
									<tr th:each="valor : ${valores}">
										<td th:text="${valor.minuto}"></td>
										<td th:text="${valor.preco}"></td>
										<td th:text="${valor.modelo}"></td>
									</tr>
								</tbody>
		
							</table>
					</div>
				</div>

			</div>
		</div>
	</div>


	<script type="text/javascript" th:src="@{/static/js/libs/jquery-3.1.1.js}"></script>
	<script th:src="@{/static/css/materialize.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/libs/lib.js}"></script>

</body>
</html>
