<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css"  th:href="@{/static/css/styleReset.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" th:href="@{/static/fonts/font-awesome/css/font-awesome.min.css}">

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" th:href="@{/static/css/materialize.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
</head>
<body >

	<div th:replace="../../static/templates/header :: header"></div>
	
	<div class="row">
		<div class="col s8 m6 push-m3">
			<div class="card ">

				<div class="card-content white-text teal lighten-1">

					<div class="panel-title left">
						<span class="flow-text">Informações Técnicas</span>
					</div>


					<div class="right">

						<a  href="" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Download"><i class="material-icons ">file_download</i></a>
						
						<a  href="" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Imprimir"><i class="material-icons ">print</i></a>

						<a  href="" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Importar"><i class="material-icons ">file_upload</i></a>

						<a  href="" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ajudar"><i class="material-icons ">help</i></a>

					</div>

					<br>

				</div>
				<div class="card-action">
				    <div class="row">
				
						<form action="">
							<div class="row">
								<div class="input-field col s6">
									<input type="text" id="cad-cor-info" />
									<label for="cad-cor-info">Cor</label>
								</div>
								<div class="input-field col s6">
									<input type="text" id="cad-fab-info" />
									<label for="cad-fab-info">Fabricante</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s6">
									<input type="text" id="cad-mod-info" />
									<label for="cad-mod-info">Modelo</label>
								</div>
							
								<div class="input-field col s6">
									<input type="text" id="cad-garantia-info" />
									<label for="cad-garantia-info">Garantia do Fornecedor </label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<textarea  id="cad-mais-info" class="materialize-textarea"></textarea>
									<label for="cad-mais-info">Mais informações</label>
								</div>
							</div>
							<a th:href="@{/salvarInformacoesTecnicas}" class="waves-effect waves-light btn right col s6 m4 l2">Salvar</a>
							<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
					
						</form>
						
						
				    </div>	
			
					  
					</div>
				
			</div>
		</div>
	</div>


	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script th:src="@{/static/css/materialize.min.js}"></script>
	<script type="text/javascript" th:src="@{static/js/libs/lib.js}"></script>

</body>
</html>
